* {
    margin: 0;
    padding: 0;
}

header, footer{
    background-color: rgb(255, 255, 255);
}

footer {
    color: rgb(0, 0, 0);
}

article p span {
    font-size: xx-large;
    color: red;
    font-family: Tahoma;
    font-weight: bold;
}

.miclass {
    background-color: black;
}


.menu {
    background-color: rgb(58, 159, 40);
    color: red;
}

h1+p {
    text-decoration: underline;
}

#miP {
    text-decoration: none;
}

.miA:hover {
background-color: black;
color: yellow;
}

.miB:visited {
    background-color: black;
    color: white;
}

img:hover {
    opacity: 0.3;
    
}

.miclass::before {
    background-color: black;
    color: black;
    content: url(/imagen\ messi.jpg);
}

.miclass::first-line {
    font-size: 30px;
    color:red;
}

menu {

    display: block;
}

